$qwrk-prim: #00a6c4;
$qwrk-sec: #ff6f64;
$qwrk-pop: #ff4f59;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@700&display=swap");

$family-sans-serif: "Montserrat", sans-serif;
$primary: $qwrk-prim;
$link: $qwrk-pop;
$info: $qwrk-sec;
